{% extends 'blog/base.html' %}

{% block content %}
    <form method="post" action="{% url 'forgot_password' %}" class="forgot-form">
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        <span title='Enter mail ID associated with account.'><input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" required></span>
        <br><br>
        <button type="submit" class="forgot-button">Send password to mail</button>
    </form>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert">*{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}